body {
  background-color: rgb(20, 19, 19);
  color: white;
  display:flex;
  justify-content: center;
}
.navigation_list {
  list-style-type: none;
  display:flex;
  justify-content: space-around;

}
.navigation{
  width:100%;
  display: inline-block;
}
.upvote-button{
  background-color: #4CAF50; 
  border-color:#4CAF50 ;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.downvote-button{
  background-color: #f44336; /* Green */
  border-color:#f44336 ;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.buttons{
  display:flex;
  justify-content: space-around;
}
.link{
  color:white;
  text-decoration: none;
}
.selected_link{
  color:yellow;
  text-decoration: none;
}
